<style>
.contact_header{
    width:1300px;
    height:200px;
    position:absolute;
    left:21%;
    top:50%;
    margin:-100px 0 0 -150px;
    font-size:550%;
    color:#2ECCFA;
  }
.contact_info{
    position:absolute;
    left:50%;
    top:65%;
    margin:-100px 0 0 -150px;
    font-size:120%;
    color:#2E2E2E;
}
</style>
<center>
    <div id="contact_container" >
        <h2 class="contact_header"><b> Contact Information </b></h2>
        <p class="contact_info">
           Phone number: 58658965</br>
           Email:  astam@gmail.com</br>
           Fax: 5564865</br>
        </p>
    </div>
</center>
